<app-header></app-header>
<div class="container">
    <p class="text-center">
        Bonjour et bienvenu(e) !<br> Tu vas pouvoir répondre à un questionnaire complet qui va te donner une photo de la
        manière dont fonctionne ton mental.<br>
        Clique sur QUESTIONNAIRE et réponds aux questions.
    </p>

    <div class="row text-center">
        <p class="text-color-blue fs-2"><strong>Notre Promesse :</strong><br>
            <strong>DONNER</strong> au plus grand nombre <strong>LES CLÉS DE LEUR MENTAL</strong>, pour concilier :</p>
    </div>

    <div class="album py-5">
        <div class="container">
            <div class="row justify-content-center row-cols-1 row-cols-sm-2 g-3">
                <div class="col d-flex">
                    <div class="card shadow-sm w-100 d-flex flex-column position-relative">
                        <div class="position-relative">
                            <img class="img-fluid card-img-top" src="assets/img/bien_640.jpg" alt="Image de Bien-Être">
                            <div
                                class="position-absolute top-50 start-50 translate-middle text-center text-white bg-dark bg-opacity-50 p-2 rounded">
                                <h5 class="m-0">BIEN-ÊTRE</h5>
                            </div>
                        </div>
                        <div class="card-body d-flex flex-column">
                            <div class="row justify-content-evenly">
                                <div class="col-4">
                                    <ul class="">
                                        <li>Sérénité</li>
                                        <li>Plaisir</li>
                                        <li>Confiance</li>
                                        <li>Contrôle</li>
                                    </ul>
                                </div>
                                <div class="col-4">
                                    <ul class="">
                                        <li>Calme</li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col d-flex">
                    <div class="card shadow-sm w-100 d-flex flex-column position-relative">
                        <div class="position-relative">
                            <img class="img-fluid card-img-top" src="assets/img/perf_640.jpg"
                                alt="Image de Performance">
                            <div
                                class="position-absolute top-50 start-50 translate-middle text-center text-white bg-dark bg-opacity-50 p-2 rounded">
                                <h5 class="m-0">PERFORMANCE</h5>
                            </div>
                        </div>
                        <div class="card-body d-flex flex-column">
                            <div class="row justify-content-evenly">
                                <div class="col-4">
                                    <ul class="">
                                        <li>Décider</li>
                                        <li>Oser</li>
                                        <li>S’engager</li>
                                        <li>Avancer</li>
                                    </ul>
                                </div>
                                <div class="col-4">
                                    <ul class="">
                                        <li>Bouger</li>
                                        <li>Créer</li>
                                        <li>Entreprendre</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center py-4">
        <h3 class="m-0">Au service d’un MONDE RESPONSABLE & DURABLE<img class="img-fluid h-10 w-10" src="assets/img/durable.png" alt="Image d'un monde durable'"></h3>
    </div>

</div>
<app-footer></app-footer>